<div class="modal">
  <div class="modal__buttons">
    <a
      [routerLink]="
        urlValues.dashboard +
        '/' +
        urlValues.revision +
        '/' +
        data.revisionId +
        '/' +
        urlValues.search
      "
      mat-dialog-close="cancel"
    >
      <button class="button white" mat-stroked-button color="primary">
        <mat-icon>search</mat-icon>
        Поиск
      </button>
    </a>
    <button class="button white" mat-stroked-button color="primary">
      <mat-icon> insert_drive_file</mat-icon>
      Загрузить
    </button>
    <button class="button white" mat-stroked-button color="primary">
      <mat-icon>save_alt</mat-icon>
      Скачать
    </button>
    <button
      class="button"
      mat-raised-button
      color="warn"
      *ngIf="data.isThereRevision"
    >
      <mat-icon>stop</mat-icon>
      Закончить ревизию
    </button>
  </div>
</div>
