<div class="modal">
  <mat-icon class="modal__close" mat-dialog-close>close</mat-icon>
  <div class="modal__buttons">
    <button class="button" mat-stroked-button color="primary">
      <mat-icon>search</mat-icon>
      Поиск
    </button>
    <button class="button" mat-stroked-button color="primary">
      <mat-icon> insert_drive_file</mat-icon>
      Загрузить
    </button>
    <button class="button" mat-stroked-button color="primary">
      <mat-icon>save_alt</mat-icon>
      Скачать
    </button>
    <button
      class="button"
      mat-stroked-button
      color="warn"
      *ngIf="data.isThereRevision"
    >
      <mat-icon>stop</mat-icon>
      Закончить ревизию
    </button>
  </div>
</div>
