:host {
  // background-color: #fffffff2 !important;
  background-color: #791c1cf2 !important;
}
.modal {
  position: relative;
  box-sizing: border-box;
  min-width: 290px;
  max-width: 600px;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  &__close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    z-index: 2;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin: 50px 0 20px;
    .button {
      height: 60px;
      max-width: 400px;
      border-radius: 10px;
      :ng-deep.mat-button-wrapper {
        display: flex !important;
        align-items: center !important;
        gap: 10px !important;
        margin-left: 10px !important;
      }
    }
  }
}
