.mat-card {
  min-width: 290px;
  max-width: 600px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebebeb;
  mat-card-header {
    margin-right: 25px;
    mat-card-title {
      display: flex;
      align-items: center;
    }
  }
}
.indicator {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-color: #8b6868;
  border-radius: 50%;
}
.green {
  animation: blink 2s linear infinite;
}
.pointer {
  cursor: pointer;
}
.active {
  background-color: #fff;
}
@keyframes blink {
  0% {
    background-color: #26d820;
  }
  50% {
    background-color: #5f7e5f;
  }
  51% {
    background-color: #5f7e5f;
  }
  100% {
    background-color: #26d820;
  }
}
