.mat-card {
  min-width: 300px;
  max-width: 600px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  mat-card-header {
    margin-right: 25px;
  }
}
