:host {
  display: flex;
  justify-content: center;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 290px;
  max-width: 400px;
  width: 100%;
  height: 40px;
}
.big {
  width: 80px;
  height: 80px;
}
