.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  align-items: center;
  &__content {
    position: absolute;
    top: 0;
    bottom: 50px;
  }
  app-footer-menu {
    position: absolute;
    bottom: 0;
    height: 72px;
  }
}
