<div class="login-form">
  <h1>Добро пожаловать в {{ appName }}</h1>
  <form [formGroup]="loginFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Логин</mat-label>
      <input matInput formControlName="login" />
      <mat-error *ngIf="loginFormGroup.controls.login.hasError('required')">
        {{ requiredMsg }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" appPassword>
      <mat-label>Пароль</mat-label>
      <input
        [type]="isPasswordHide ? 'password' : 'text'"
        matInput
        formControlName="password"
        autocomplete="off"
      />

      <mat-icon
        *ngIf="loginFormGroup.controls.password.value"
        matSuffix
        (click)="isPasswordHide = !isPasswordHide"
        >{{ isPasswordHide ? "visibility_off" : "visibility" }}</mat-icon
      >
      <mat-error *ngIf="loginFormGroup.controls.password.hasError('required')">
        {{ requiredMsg }}
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="loginFormGroup.invalid"
      (click)="submit()"
    >
      Войти
    </button>
  </form>
</div>
