.modal {
  background: #fff;
  box-sizing: border-box;
  max-width: 600px;
  min-width: 270px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    button {
      margin-top: 20px;
    }
  }
}
