<div class="modal">
  <form [formGroup]="barcodeOptionForm">
    <mat-form-field appearance="fill">
      <mat-label>Размер штрих-кода</mat-label>
      <mat-select formControlName="patchSize">
        <mat-option *ngFor="let opt of patchSizes" [value]="opt">{{
          opt
        }}</mat-option>
      </mat-select>
      <mat-hint>Рекомендуется medium</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Частота</mat-label>
      <input type="number" formControlName="frequency" matInput />
      <mat-hint>От 1 до 20. Рекомендуется 10</mat-hint>
      <mat-error
        *ngIf="barcodeOptionForm.controls.frequency.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error
        *ngIf="
          barcodeOptionForm.controls.frequency.hasError('min') ||
          barcodeOptionForm.controls.frequency.hasError('max')
        "
        >От 1 до 20.</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Количество обработчиков</mat-label>
      <input type="number" formControlName="numOfWorkers" matInput />
      <mat-hint>От 1 до 4. Рекомендуется 2</mat-hint>
      <mat-error
        *ngIf="barcodeOptionForm.controls.numOfWorkers.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error
        *ngIf="
          barcodeOptionForm.controls.numOfWorkers.hasError('min') ||
          barcodeOptionForm.controls.numOfWorkers.hasError('max')
        "
        >От 1 до 4.</mat-error
      >
    </mat-form-field>
    <mat-radio-group aria-label="Select an option" formControlName="readers">
      <mat-radio-button color="primary" value="ean_reader"
        >Ean 13</mat-radio-button
      >
      <mat-radio-button color="primary" value="ean_8_reader"
        >Ean 8</mat-radio-button
      >
    </mat-radio-group>
    <div class="checkbox">
      <mat-checkbox formControlName="locate" color="primary">
        Локатор
      </mat-checkbox>
      <p>Расходует производительность</p>
    </div>
    <div class="checkbox">
      <mat-checkbox formControlName="halfSample" color="primary">
        Половина образца
      </mat-checkbox>
      <p>Расходует производительность</p>
    </div>

    <button
      mat-raised-button
      color="accent"
      [disabled]="barcodeOptionForm.invalid"
      (click)="sumbit()"
    >
      Готово
    </button>
  </form>
</div>
