body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

mat-dialog-container {
  border-radius: 20px !important;
  padding: 0 !important;
}

.mat-button-wrapper {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.h50 {
  height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
