:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
::ng-deep .scanner {
  min-width: 300px;
  max-width: 600px;
  video {
    max-height: 320px !important;
  }
}
.manual-key {
  position: absolute;
  top: 66vh;
  z-index: 2;
}
